.bg-blue {
    background-color: #012350;
}

.avatar {
    width: 92px;
    height: 77px;
}

.social-icon {
    width: 48px;
    height: 48px;
    color: #24292e;
}

.social-icon:hover {
    opacity: 0.8;
}