.bg-blue {
    background-color: #012350;
}

.avatar {
    width: 128px;
    height: 128px;
}

.social-icon {
    width: 64px;
    height: 64px;
    color: #24292e;
}

.social-icon:hover {
    opacity: 0.7;
}